
/* POSICION DEL DESIGN */
/* Móvil */
@media only screen and (max-width: 767px) {
  .contenedor-fondo {
    z-index: -1;
    max-width: 100%;
    height: auto;
    position: relative;
    transform: translate(0%, -90vh);
    padding: 0px;
    border-radius: 0px;
  }
  
  .imagen-fondo {
    position: absolute; /* Toma la posición relativa del contenedor */
    z-index: -1;
    max-width: 100%;
    height: auto;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedor-fondo {
    z-index: -1;
    max-width: 100%;
    height: auto;
    position: relative;
    transform: translate(0%, -90vh);
    padding: 0px;
    border-radius: 0px;
  }
  
  .imagen-fondo {
    position: absolute; /* Toma la posición relativa del contenedor */
    z-index: -1;
    max-width: 100%;
    height: auto;
  }
}

/* Laptop */
@media only screen and (min-width: 1025px) {
  .contenedor-fondo {
    z-index: -1;
    max-width: 100%;
    height: auto;
    position: relative;
    transform: translate(0%, -100vh);
    padding: 0px;
    border-radius: 0px;
  }
  
  .imagen-fondo {
    position: absolute; /* Toma la posición relativa del contenedor */
    z-index: -1;
    max-width: 100%;
    height: auto;
  }
}



.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(3, 1fr); /* establecer 3 filas */
  grid-gap: 80px;
  height: 100%; /* establecer altura del contenedor */
  max-width: 100%;
  margin-top: 1000px;
  
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(2, 1fr); /* reducir a 2 filas */
  }
}

@media only screen and (max-width: 768px) {
  .grid-container {
    z-index: 0;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(1, 1fr); /* reducir a 1 fila */
  }
}


.grid-item {
  z-index: 0;
  overflow: hidden;
  background-color: #000000;
}

.grid-item img {
  z-index: 0;
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.2s ease-in-out;
}

.grid-item:hover img {
  opacity: 0.65;
}

.grid-item {
  position: relative; /* Add this to make .overlay-text position relative to .grid-item */
}

.overlay-text {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: Arial, sans-serif; 
  font-weight: SEMI-bold;
  /* otros estilos de tu menú */
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.grid-item:hover .overlay-text {
  opacity: 1;
}

/* MARGENES */
/* Móvil */
@media only screen and (max-width: 767px) {
  .grid-container {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 100vh;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 100vh;
  }
}

/* Laptop */
@media only screen and (min-width: 1025px) {
  .grid-container {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 100vh;
  }
}

/*---------------------------------------------------- MENU FLOTANTE INICIO ------------------------------------------------------*/

nav {
  z-index: 50;
  transform: rotate(-90deg); /* Rotar el menú 90 grados hacia la izquierda */
  transform-origin: top left; /* Establecer el punto de origen de la rotación en la esquina superior izquierda */
  position: fixed; /* Hacer que el menú quede fijo */
  top: 97%; /* Posicionar el menú en la parte superior de la página */
}

nav ul {
  list-style: none;
  margin-top: 1%;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-family: Arial, sans-serif;
  /* otros estilos de tu menú */
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  color: #50fd50;
}

.logo {
  position: fixed;
  top: 28px;
  left: 15px;
  width: 35px;
  height: 35px;
  z-index: 100;
  cursor: pointer;
}

/*---------------------------------------------------- MENU FLOTANTE FIN ------------------------------------------------------*/

/*-------------------------------------------------- DERECHOS Y LINKS INICIO -----------------------------------------------------*/

@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móviles */

.footer {
  padding: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-bottom: 10%;
}

.footer-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  font-size: 40px;
  color: #50fd50;
  background-color: #ffffff;
  border: none;
  padding: 0px 5px;
  padding-top: 50%;
  border-radius: 5px;
}

button:hover {
  color: #000000;
}

.fa-instagram,
.fa-linkedin,
.fa-envelope {
  font-size: 25px;
}

.footer-text {
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  margin-top: 1px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
/* Estilos para dispositivos móviles */

.footer {
padding: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 50%;
margin-bottom: 10%;
}

.footer-buttons {
display: flex;
gap: 25px;
justify-content: center;
}

button {
font-size: 20px;
color: #50fd50;
background-color: #ffffff;
border: none;
padding: 0px 5px;
padding-top: 50%;
border-radius: 5px;
}

button:hover {
color: #000000;
}

.fa-instagram,
.fa-linkedin,
.fa-envelope {
font-size: 30px;
}

.footer-text {
font-family: Arial, sans-serif;
font-size: 10px;
text-align: center;
margin-top: 11px;
}
}

@media only screen and (min-width: 1025px) {
/* Estilos para dispositivos laptops */

.footer {
padding: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 50%;
margin-bottom: 10%;
}

.footer-buttons {
display: flex;
gap: 25px;
justify-content: center;
}

button {
font-size: 20px;
color: #50fd50;
background-color: #ffffff00;
border: none;
padding: 0px 5px;
padding-top: 50%;
border-radius: 5px;
}

button:hover {
color: #000000;
}

.fa-instagram,
.fa-linkedin,
.fa-envelope {
font-size: 30px;
}

.footer-text {
font-family: Arial, sans-serif;
font-size: 12px;
text-align: center;
margin-top: 10px;
}
}

/*-------------------------------------------------- DERECHOS Y LINKS FIN -----------------------------------------------------*/
